.WrapperPokemonList.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.WrapperPokemonList.page-control {
  margin-top: 16px;

  flex-basis: 100%;

  text-align: center;
}

.WrapperPokemonList.link {
  margin: 0 4px 40px 0;

  border: solid 3px black;
  border-radius: 4px;

  display: inline-block;

  padding: 8px 16px;

  color: black;
  text-decoration: none;
}
