.ComponentHeader.container {
  border-bottom: solid 3px black;

  margin-bottom: 24px;

  display: flex;
  flex-direction: column;

  padding: 12px;

  background-color: white;
}

.ComponentHeader.nav {
  margin-bottom: 12px;
}

.ComponentHeader.nav-link {
  margin-right: 8px;

  color: black;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.ComponentHeader.nav-link:hover {
  text-decoration: underline;
}

.ComponentHeader.filter {
  display: flex;
  flex-wrap: wrap;
}

.ComponentHeader.filter-link {
  border: solid 3px black;
  border-radius: 4px;

  margin: 4px;

  padding: 4px;

  color: black;
  text-decoration: none;
}
