.ComponentDetail.container {
  border: solid 3px black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 12px 24px;
}

.ComponentDetail.image {
  max-width: 256px;
}
