.ComponentPokemonList.container {
  margin: 4px;

  border: solid 3px black;
  border-radius: 4px;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  max-width: 196px;

  padding: 4px;

  color: black;
  text-decoration: none;
}

.ComponentPokemonList.img {
  max-width: 196px;
  height: auto;
}
